<div class="row clearfix" [@routerTransition]>
  <div class="m-subheader">
    <div classs="d-flex align-items-center">
      <div class="mr-auto col-sm-6">
        <h3 class="m-subheader__title m-subheader__title--separator">
          <span>{{ l("PhoneBook") }}</span>
        </h3>
      </div>
    </div>
  </div>
</div>

<div class="m-content">
  <div class="m-portlet m-portlet--mobile">
    <div class="m-portlet__body">
      <p>Phone Book Content Comes Here!</p>
    </div>
  </div>

  <div class="m-subheader">
    <div class="d-flex align-items-center">
      <div class="mr-auto">
        <div class="portlet box blue-hoki">
          <h3 class="m-subheader__title m-subheader__title--separator">
            <span>{{ l("PhoneBook") }}</span>
          </h3>
        </div>
        <span class="m-section__sub">
          <span>{{ l("PhoneBook") }}</span>
        </span>
      </div>
    </div>
  </div>

  <div class="m-content">
    <p>PHONE BOOK CONTENT COMES HERE!</p>
  </div>
</div>


<div class="m-content">
        <div class="m-portlet">
        <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
        <div class="m-portlet__head-title">
        <h3 class="m-portlet__head-text">Title</h3>
        </div>
        </div>
        </div>
        <div class="m-portlet__body">Test</div>
        </div>
        </div>

        <p>This page has one Welcome Portlet.</p>
<p>Welcome portlet</p>
<div class="portlet-container" name="portletContainer1">
   <div class="portlet-window" name="portletWindow1" >
       <p>ffff</p>
   </div>
     

</div>

<div class="card">
        <div class="card-body">
<h1>fffff</h1>
        </div>
        </div>